<form action="board"method="post" enctype="multipart/form-data">
    <input type="text" name = "title" placeholder="제목" required><br><br>
    <textarea name="content" cols="30" rows="10" placeholder="내용"></textarea><br><br>
    <input type="file" name = "fileupload"><br><br>
    <input type="submit" value = "작성">
</form>