<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My test page</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- 파일 내 css불러오기 -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body class="px-1 px-md-5">
<!--    <header class="header_bg">-->
<!--        <div class="container-md px-4 px-lg-5">-->
<!--            <div class="row justify-content-around align-items-center">-->
<!--                <div class="col-2">-->
<!--                    <img class="logo_img rounded mx-auto d-block"" src="/img/logo.png">-->
<!--                </div>-->
<!--                <div class="col-10 text-end ">-->
<!--                    <nav class="nav_bg">-->
<!--                        여기는 로고, 로그인(로그아웃),회원가입 이 들어갑니다-->
<!--                    </nav>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </header>-->
<!--    <main>-->
<!--        <div class="container-md px-4 px-lg-5">-->
<!--            <div class="row">-->
<!--                <div class="col-3 col-md-4 position-relative">-->
<!--                    <section class="aside_box">-->
<!--                        <div class="container-md px-4 px-lg-5">-->
<!--                            <div>-->
<!--                            여기는 왼쪽에 고정될 부분 <br/>-->
<!--                            한.. 20퍼 정도?<br/>-->
<!--                            <div class="footer">-->
<!--                                여기는 푸터-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </section>-->
<!--                </div>-->
<!--                <div class="col-9 col-md-8">-->
<!--                    <section class="main_bg">-->
<!--                        <div class="container-md px-4 px-lg-5">-->
<!--                            &lt;!&ndash; <div class="board_in"> &ndash;&gt;-->
<!--                                <div class="circle p-1">-->
<!--                                    <div class="c_inbox">-->
<!--                                        <img href="/img/cloud_01.png">-->
<!--                                            <input size="200px" type="text" class="input-group input-group-sm text_input" aria-describedby="inputGroup-sizing-sm">-->
<!--                                    </div>-->
<!--                                &lt;!&ndash; </div> &ndash;&gt;-->
<!--                            </div>-->
<!--                            <h1>여기는 메인</h1>-->
<!--                        </div>-->
<!--                    </section>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </main>-->
    <%=user.user_Num%>
    <%=user.user_Name%>
</body>
</html>


