<!-- <!DOCTYPE html>

    <head>

    </head>
    <body>
    <h2>여기는 로그인 페이지 입니다.</h2>
        <form action="login" method="post">
            <div>
                <input type="text" name="user_Eid" placeholder="아이디를 입력해주세요.">
                <label for="floatingInput">이름</label>
            </div>
            <div>
                <input type="password" name="user_Pw" placeholder="비밀번호를 입력해주세요.">
                <label>Password</label>
            </div>
            <div>
                <button class="btn" type="submit">Sign in</button>
            </div>
        </form>
    </body>
</html> -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/css/common.css">
        <link rel="stylesheet" type="text/css" href="/css/login.css">
    </head>
    <body>
        <div class="container-flud concon">
            <!-- 구름이미지 -->
            <div class="main_logo_info">
                <img class="logo_size" src="/img/logo.png">
            </div>

            <!-- 회원가입입력란 -->
            <div class="login_input_all">
                <div>
                    <form action="login" method="post">
                        <div class="login_insert_input">
                            <input class="trans_size" name="user_Eid" type="text" placeholder="아이디(이메일)을 입력해주세요" required/>
                            <input class="trans_size" name="user_Pw" type="password" placeholder="비밀번호를 입력해주세요" required/>
                        </div>
                        <div class="row login_all_button d-flex justify-content-around align-self-center">
                            <div class="btn_ss col-md-4">
                                <button class="btn" onclick="signup_on()">회원가입</button>
                            </div>
                            <div class="btn_ss col-md-4">
                                <button class="btn" onclick="search_on()">계정찾기</button>
                            </div>
                            <div class="btn_ss col-md-4">
                                <button class="btn" type="submit">로그인</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script>
            function signup_on() {
                location.href = "/signup";
            }
            function search_on() {
                location.href = "/search";
            }
        </script>
    </body>
</html>