<!-- <!DOCTYPE html>

    <head>
        
    </head>
    <body>
    <h2>여기는 로그인 페이지 입니다.</h2>
        <form action="login" method="post">
            <div>
                <input type="text" name="user_Eid" placeholder="아이디를 입력해주세요.">
                <label for="floatingInput">이름</label>
            </div>
            <div>
                <input type="password" name="user_Pw" placeholder="비밀번호를 입력해주세요.">
                <label>Password</label>
            </div>
            <div>
                <button class="btn" type="submit">Sign in</button>
            </div>
        </form>
    </body>
</html> -->

<!DOCTYPE html>
<html>
    <head> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/css/common.css">
        <link rel="stylesheet" type="text/css" href="/css/login.css">
    </head>
<body>
    <h2>여기는 로그인 페이지 입니다.</h2>
    <div class="container-flud concon">
        <!-- 구름이미지 -->
        <div class="login_cloud_img">
            <svg width="426" height="229" viewBox="0 0 426 229" fill="none">
            <path d="M391.468 123.781C415.042 156.546 429.473 221.746 298.608 220.428C169.218 251.619 157.37 190.226 167.619 155.631C147.325 171.006 90.3791 188.139 24.9463 133.665C1.66285 119.937 -37.7806 52.3937 85.8283 52.3937C161.593 -42.4964 230.141 12.8562 254.945 52.3937C263.759 31.9633 303.404 -2.78954 391.468 21.6423C450.505 45.8041 422.422 113.347 391.468 123.781Z" fill="url(#paint0_linear_81_199)" fill-opacity="0.5"/>
            <defs>
            <linearGradient id="paint0_linear_81_199" x1="99.625" y1="25.2601" x2="361.616" y2="133.531" gradientUnits="userSpaceOnUse">
            <stop offset="0.135417" stop-color="#6567E8"/>
            <stop offset="0.776042" stop-color="#7791D1" stop-opacity="0.8"/>
            <stop offset="0.958333" stop-color="#7791D1" stop-opacity="0.8"/>
            </linearGradient>
            </defs>
            </svg>
        </div>
        <div class="login_input_all">
            <!-- 회원가입입력란 -->
            <div>
                <div class="login_insert_input">
                    <input size="lg" type="text" placeholder="아이디(이메일)을 입력해주세요"/>
                    <input size="lg" type="password" placeholder="비밀번호를 입력해주세요"/>
                </div>
                <row class="login_all_button d-flex justify-content-around">
                    <col xs={12} sm={4}>
                        <button className="login_btn_re">로그인</button>
                    </col>
                    <col xs={6} sm={4}>
                        <button>계정찾기</button>
                    </col>
                    <col xs={6} sm={4}>
                        <button>회원가입</button>
                    </col>
                </row>
            </div>
        </div>
    </div>
</body>
</html>