<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <!-- 이메일 아이디, 비밀번호, 이름 -->
    <form action="mainTest" method="POST">
        <input type="text" name="eid">
        <input type="password" name="password">
        <input type="text" name="name">
        <input type="submit" value="전송">
    </form>
</body>
</html>