<h2>여기는 메인 페이지 입니다.</h2>

<!-- 
    사이즈에 맞게 스크롤이 생기도록 만드는 명령어
    text-truncate 
-->

<!-- 
해당 내용의 css코딩
.tt_board{
    table-layout: fixed;
    border-bottom: solid;
}
.main_memo{
    width :10%;
    max-width: 80px;
    white-space : nowrap;
    overflow : hidden;
    text-overflow: ellipsis;
}

 -->

<!-- <h2>여기는 메인 페이지 입니다.</h2>
<h2><%=user.user_Num%></h2>
<h2><%=user.user_Eid%></h2>
<h2><%=user.user_Pw%></h2>


<form action="update" method="post">
    <input type="text" name = "user_Eid" required>
    <input type="password" name = "user_Pw" required>
    <input type="submit" value="아이디 비번 번경">
</form>
<a href="/logout">로그아웃하기</a>
<a href="/delete">탈퇴하기</a> -->