<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>회원가입 페이지</h1>
    <!-- 이메일 아이디, 비밀번호, 이름 -->
    <form action="mainTest" method="POST">
        <input type="text" name="eid">아이디
        <input type="password" name="password">비밀번호
        <input type="text" name="name">이름
        <input type="submit" value="전송">
    </form>
</body>
</html>