<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 작성</title>
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css" rel="stylesheet" />
    <script src="post.js"></script>
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/post.css">
</head>

<body>
    <!-- 게시물 작성 -->
    <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal"
        data-mdb-whatever="@getbootstrap">
        게시글 작성
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">궁금 구름 작성</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">태그</label>
                            <input type="text" class="form-control" id="recipient-name" />
                            <input type="text" class="form-control" id="recipient-name" />
                            <input type="text" class="form-control" id="recipient-name" />
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">제목</label>
                            <input type="text" class="form-control" id="recipient-name" />
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">내용</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                        <input type="file" id="image" accept="image/*" onchange="setThumbnail(event);" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                        닫기
                    </button>
                    <button type="button" class="btn btn-primary">작성</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 게시물 확인 -->
    <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal01"
        data-mdb-whatever="@getbootstrap">
        게시글 확인
    </button>

    <div class="modal fade" id="exampleModal01" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <!-- <form> -->
                    <div class="container bootstrap snippets bootdey">
                        <div class="col-sm-8">
                            <div class="panel panel-white post panel-shadow">
                                <div class="post-heading">
                                    <div class="pull-left image">
                                        <img src="https://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar"
                                            alt="user profile image">
                                    </div>
                                    <div class="pull-left meta">
                                        <div class="title h5">
                                            <a href="#"><b>Ryan Haywood</b></a>
                                            made a post.
                                        </div>
                                        <h6 class="text-muted time">1 minute ago</h6>
                                    </div>
                                </div>
                                <div class="post-description">
                                    <p>Bootdey is a gallery of free snippets resources templates and utilities for
                                        bootstrap css hmtl js framework. Codes for developers and web designers</p>
                                    <div class="stats">
                                        <a href="#" class="btn btn-default stat-item">
                                            <i class="fa fa-thumbs-up icon"></i>2
                                        </a>
                                        <a href="#" class="btn btn-default stat-item">
                                            <i class="fa fa-share icon"></i>12
                                        </a>
                                    </div>
                                </div>
                                <div class="post-footer">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Add a comment" type="text">
                                        <span class="input-group-addon">
                                            <a href="#"><i class="fa fa-edit"></i></a>
                                        </span>
                                    </div>
                                    <ul class="comments-list">
                                        <li class="comment">
                                            <a class="pull-left" href="#">
                                                <img class="avatar" src="https://bootdey.com/img/Content/user_1.jpg"
                                                    alt="avatar">
                                            </a>
                                            <div class="comment-body">
                                                <div class="comment-heading">
                                                    <h4 class="user">Gavino Free</h4>
                                                    <h5 class="time">5 minutes ago</h5>
                                                </div>
                                                <p>Sure, oooooooooooooooohhhhhhhhhhhhhhhh</p>
                                            </div>
                                            <ul class="comments-list">
                                                <li class="comment">
                                                    <a class="pull-left" href="#">
                                                        <img class="avatar"
                                                            src="https://bootdey.com/img/Content/user_3.jpg"
                                                            alt="avatar">
                                                    </a>
                                                    <div class="comment-body">
                                                        <div class="comment-heading">
                                                            <h4 class="user">Ryan Haywood</h4>
                                                            <h5 class="time">3 minutes ago</h5>
                                                        </div>
                                                        <p>Relax my friend</p>
                                                    </div>
                                                </li>
                                                <li class="comment">
                                                    <a class="pull-left" href="#">
                                                        <img class="avatar"
                                                            src="https://bootdey.com/img/Content/user_2.jpg"
                                                            alt="avatar">
                                                    </a>
                                                    <div class="comment-body">
                                                        <div class="comment-heading">
                                                            <h4 class="user">Gavino Free</h4>
                                                            <h5 class="time">3 minutes ago</h5>
                                                        </div>
                                                        <p>Ok, cool.</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- </form> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                        닫기
                    </button>
                </div>
            </div>
        </div>
    </div>


</body>

</html>