<!DOCTYPE html>

<head>

</head>
<body>
    <h2>여기는 회원가입 페이지 입니다.</h2>
    <form action="signup" method="post" name="info">
        <div>
            <input type="text" name="user_Name" placeholder="이름을 입력해주세요." required>
            <label>이름</label>
        </div>
        <div>
            <input type="text" class="form-control" id="id1" name="user_Eid" placeholder="E-mail 입력" required/>
            <label>이메일</label>
        </div>
        <div>
            <input type="text" id="id2" placeholder="E-mail 을 확인해주세요" required/>
            <label id="check1">이메일 확인</label>
        </div>
        <div>
            <input type="password" id="pwd1" name="user_Pw" placeholder="비밀번호를 입력해주세요." required/>
            <label>비밀번호</label>
        </div>
        <div>
            <input type="password" id="pwd2" placeholder="비밀번호를 확인해주세요." onchange="confirm1()" required/>
            <label id="check2">비밀번호 확인</label>
        </div>
        <button type="submit">Sign in</button>
    </form>
    <script type="text/javascript">
        function confirm1(conf) {
            var p1 = document.getElementById('pwd1').value;
            var p2 = document.getElementById('pwd2').value;
            var id1 = document.getElementById('id1').value;
            var id2 = document.getElementById('id2').value;
            if( p1 != p2 ) {
                document.getElementById('check2').innerHTML='비밀번호가 일치하지 않습니다.';
                document.getElementById('check2').style.color='red';
            } else {
                document.getElementById('check2').innerHTML='비밀번호가 일치합니다.';
                document.getElementById('check2').style.color='skyBlue';
            }
            if( id1 != id2 ) {
                document.getElementById('check1').innerHTML='이메일이 일치하지 않습니다.';
                document.getElementById('check1').style.color='red';
            } else {
                document.getElementById('check1').innerHTML='이메일이 일치합니다.';
                document.getElementById('check1').style.color='skyBlue';
            }
        }
    </script>
</body>
</html>