<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/css/common.css">
        <link rel="stylesheet" type="text/css" href="/css/t_c_info.css">
    </head>
    <body>
        <div class="container-flud concon">
            <!-- 구름이미지 -->
            <div class="main_logo_info">
                <img class="logo_size" src="/img/logo.png">
            </div>
            <!-- info 내용 -->
            <div class="info_all m-auto mb-3">
                <div class="box">
                    <ul>
                        <li class="left-img img" style="border-radius: 20px;">1</li>
                        <li class="right-txt text" style="padding: 2%">
                            <div>
                                <h3 style="color: rgb(109, 85, 255); text-align: left;">
                                    오늘의 구름 소개
                                </h3>
                                <p style="margin-top: 3%">
                                    <b>'지금 보고 싶어'</b></br>
                                    방안에 누워서 사진첩에서 본 동해의 푸른바다.</br>
                                    아직 못올라본 한라산의 정상.</br>
                                    </br>
                                    오늘의 구름은 ‘지금 보고싶은 장소'에 대한 단순 궁금함으로</br>
                                    만들어진 사이트 입니다.</br>
                                    멀리 떨어진 장소를, 과거에 다녀온 추억이 있는 곳,</br>
                                    그리고 앞으로 가고싶은 장소를 지금 현재 볼 수 있도록</br>
                                    사용자를 연결해주는 플랫폼 입니다.
                                </p>
                            </div>
                        </li>
                    </ul>
                    <ul>
                        <li class="left-txt text" style="padding: 2%">
                            <div>
                                <h3 style="color: rgb(109, 85, 255); text-align: left;">
                                    오늘의 구름 사용법
                                </h3>
                                <p style="margin-top: 3%">
                                    오늘의 구름은 <b>'질문구름'</b>과 <b>'답변구름'</b>으로 운영됩니다.</br>
                                    </br>
                                    질문자는 보고싶은 장소를 골라 태그를 선택합니다.</br>
                                    태그에 맞춰 글을 작성해 '질문구름'을 띄웁니다.</br>
                                    </br>
                                    답변자는 가지고있는 휴대폰으로 '질문구름'에 맞춰 </br>
                                    사진을 예쁘게 찍어 '답변구름'을 달아줍니다.</br>
                                    </br>
                                    '오늘의 구름'은'장소'라는 공통점을 가지고 연결됩니다.</br>
                                </p>
                            </div>
                        </li>
                        <li class="right-img img" style="border-radius: 20px;">2</li>
                    </ul>
                    <ul>
                        <li class="left-img img" style="border-radius: 20px;">3</li>
                        <li class="right-txt text" style="padding: 2%">
                            <div>
                                <h3 style="color: rgb(109, 85, 255); text-align: left;">
                                    오늘의 구름 기능
                                </h3>
                                <p style="margin-top: 3%">
                                    '오늘의 구름'은 <b>'카카오 API'</b>를 이용합니다.</br>
                                    </br>
                                    '답변구름'을 작성시 위치에 대한 정보를 제공하고,</br>
                                    현재 위치가 질문한 장소가 맞는지 확인하게 됩니다.</br>
                                    정확한 위치가 아닌, 주변의 포함된 위치까지 제공됩니다.</br>
                                    사건 사고를 미연에 방지하고자 하는 작은 걱정에서 </br>
                                    작게나마 신경쓴 부분입니다.</br>
                                    </br>
                                    사용하는데 있어 불편함이 없도록 '반응형 웹'을 사용</br>
                                    같은서비스를 기기에 상관없이 이용할 수 있습니다.</br>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>