/* body, html {
    position: absolute;
    width: 1443px;
    height: 900px;
    left: -3px;
    top: 0px;
    background: #EBEFF2;
}
body {
    position: absolute;
    width: 1040px;
    height: 900px;
    left: 200px;
    top: 0px;
    background: #EBEFF2;
}

header.header_bg {
    position: absolute;
    width: 1440px;
    height: 148px;
    left: 0px;
    top: 0px;

    background: #EBEFF2;
}
nav.nav_bg{
    position: absolute;
    width: 1024.33px;
    height: 98px;
    left: 202px;
    top: 50px;
}


aside.aside_box {
  position: absolute;
  width: 151px;
  height: 501px;
  left: 217px;
  top: 249px;
}

aside > div.aside_inbox {
  position: absolute;
  width: 184px;
  height: 752px;
  left: 200px;
  top: 148px;

  background: #EBEFF2;
}

aside > div.footer {
  height: 501px;

  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  line-height: 17px;

  color: #AAA4A4;
}

main.main_bg {
  position: absolute;
  width: 856px;
  height: 752px;
  left: 384px;
  top: 148px;
  background: #EBEFF2;
}

main > div.board_in {
  position: absolute;
  width: 826px;
  height: 79px;
  left: 414px;
  top: 192px;

  background: #AACBDB;
  mix-blend-mode: normal;
  opacity: 0.5;
  border-radius: 27px;
}

main > div.board_in.circle {
position: absolute;
width: 53px;
height: 53px;
left: 438px;
top: 205px;

background: #EEEEEE;
}

main > div.board_box {
  position: absolute;
  width: 708px;
  height: 46px;
  left: 508px;
  top: 208px;

  background: #EEEEEE;
  border-radius: 16px;
}
 */
