@charset "utf-8";

@font-face {
    font-family: 'Binggrae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow: hidden;
}

@keyframes fall {
    0% {
        transform: scale(0);
    }

    2% {
        transform: scale(1);
        top: -50px;
    }

    100% {
        transform: scale(0);
        top: 100%;
    }
}

/* header */

.navbar {
    padding: 1% 4% 0% 11%;
    /*margin: 20px 15px;*/
}

.navbar-brand {
    /*padding-left: 10%;*/
    width: 150px;
    /*margin-left: 50%;*/
    height: 100px;
}

.logo_size {
    width: 150px;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
    text-align: right;
}

.navbar-nav li {
    border-radius: 14px;
    font-size: 19px;
    margin-right: 1rem;
    color: #080707;
}

.navbar-nav li:hover {
    background-color: #D9E6ED;
    opacity: 0.7;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.25);
    color: #080707;
    transition: .5s ease-in;
}

/* .navbar-nav li:last-child {
    margin-right: 0;
} */

/* .t-align {
    text-align: right;
} */

.navbar-light .navbar-nav .nav-link {
    color: #080707;
}

/* weekly sidebar */

.main-sidebar {
    margin-top: 1.3%;
    text-align: center;
    padding: 0 4%;
}

.weekly_tags {
    color: #1C2123;
    font-weight: bold;
}

.weekly_tags div {
    background: #E7F1F5;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
    font-size: 1.1rem;
    padding: 4px 0;
}

.weekly_tags ul {
    padding: 0 25px
}

.weekly_tags ul li {
    text-align: center;
    border-radius: 26px;
    margin-top: 6px;
    padding: 2px 0;
    font-size: 1rem;
}

.weekly_tags ul li:hover {
    background: rgba(255, 255, 255, 0.712);
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.25);
    transition: .2s ease-in-out;
}

/*  */

/* main content */

.whats-today {
    background-color: #AACBDB;
    height: 50px;
    opacity: 0.5;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 1.3%;
    width: 80%;
    margin: auto;
}
.cloud-put {
    vertical-align: middle;
}

.whats-today:hover,
.today-news:hover {
    box-shadow: 4px 4px 10px 2px rgb(0 191 255 / 25%);
    transition: .4s ease-in;
}

.cloud-svg {
    background-color: #EEEEEE;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    margin-right: 19px;
}

.cloud-svg svg {
    margin: auto;
}

.today-whats {
    background-color: #EEEEEE;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 16px;
    justify-content: space-between;
    padding: 0 10px;
    /*line-height: 33px;*/
}

.today-news {
    background-color: #F8F8FF;
    opacity: 0.5;
    box-shadow: 0px 0px 8px 1px rgb(0 0 0 / 30%);
    border-radius: 27px;
    padding: 1% 5%;
    display: grid;
    grid-template-columns: 1.3fr 7fr;
    margin: 3% 8% 3% 8%;
    /*height: 30%;*/
}

.today-profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}

.user-profile,
.user-profile img {
    width: 50px;
    height: 50px;
    box-shadow: inset 4px 5px 6px  rgb(0 0 0 / 25%);
    border-radius: 50%;
}

.news-cloud {
    background-color: #EEEEEE;
    border-radius: 27px;
    box-shadow: inset 1px 1px 2px rgb(0 0 0 / 25%);
    padding: 15px 23px;
    margin: 2% 0% 0% 3%;
    height: 60px;
}

.news-cloud div {
    font-family: 'Binggrae';
}

.today-tags ul {
    display: flex;
    padding: 0;
    margin: 2% 0 0 5%;
}

.today-tags ul li {
    font-size: small;
    padding: 5px;
    background-color: #C5D3DB;
    border-radius: 27px;
    margin-right: 12px;
}

/* 유저 인포 포스트*/

.user-post-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12%;
}

.post-like {
    display: flex;
}

.heart-icon {
    border: none;
    background: none;
}

.heart-icon svg {
    width: 33px;
    height: auto;
}

.heart-icon svg:active {
    transform: scale(1.1);
}

.like-number {
    width: 36px;
    border: none;
    background: none;
    pointer-events: none;
}

.user-nick {
    font-size: 0.9rem;
    color: #1d1b1b;
    font-weight: 500;
    margin-top: 4px;
    width: 110px;
    display: flex;
    justify-content: center;
}


/* .ss.today-news{
    overflow-y: scroll;
} */

/* .s-box {
    table-layout: fixed;
    overflow: auto;
    border-collapse: collapse;
    border-spacing: 0;
} */

.post-scroll {
    /* 테이블에 들어간 클래스 */
    display: block;
    height: 740px;
    overflow: auto;
    margin: 4px 0px 0px 15px;
}

.post-scroll::-webkit-scrollbar {
    background: transparent;
}

/* 반응형 */

@media (max-width: 559px) {
    .today-news {
        display: flex;
        flex-direction: column;
    }
    .whats-today {
        margin-left: 7px;
        margin-right: 7px;
        width: 82%;
        margin: auto;
    }
}

@media (max-width: 1000px) {
    .navbar {
        padding: 1% 8% 0% 9%;
    }
    .main-sidebar {
        display: none;
    }

    .main-contents {
        width: 100%;
    }
    .whats-today {
        margin-left: 7px;
        margin-right: 7px;
        width: 82%;
        margin: auto;
    }

}

@media (min-width: 1750px) {
    body {
        padding: 0 13%;
    }
}

@media (min-width: 1700px) {
    body {
        padding: 0 20%;
    }
}