@charset "utf-8";

@font-face {
    font-family: 'Binggrae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow: hidden;
}

/* 눈 내리는 효과 css */

.snowing {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%
}

.b {
    border-radius: 50%;
    float: left;
    margin-top: -50px;
    position: absolute;
}

.b:nth-child(1) {
    margin-left: 0%;
    width: 5px;
    height: 5px;
    background: rgba(237, 237, 237, 0.8);
    box-shadow: 0 0 15px 10px  rgb(237 237 237 / 0.5%);
    animation: fall 26s 4s infinite;
}

.b:nth-child(2) {
    margin-left: 1%;
    width: 3px;
    height: 3px;
    background: rgba(232, 232, 232, 0.8);
    box-shadow: 0 0 15px 10px rgba(232, 232, 232, 0.5);
    animation: fall 24s 6s infinite;
}

.b:nth-child(3) {
    margin-left: 2%;
    width: 6px;
    height: 6px;
    background: rgba(247, 247, 247, 0.8);
    box-shadow: 0 0 15px 10px rgba(247, 247, 247, 0.5);
    animation: fall 25s 7s infinite;
}

.b:nth-child(4) {
    margin-left: 3%;
    width: 4px;
    height: 4px;
    background: rgba(235, 235, 235, 0.8);
    box-shadow: 0 0 15px 10px rgba(235, 235, 235, 0.5);
    animation: fall 30s 5s infinite;
}

.b:nth-child(5) {
    margin-left: 4%;
    width: 2px;
    height: 2px;
    background: rgba(245, 245, 245, 0.8);
    box-shadow: 0 0 15px 10px rgba(245, 245, 245, 0.5);
    animation: fall 20s 10s infinite;
}

.b:nth-child(6) {
    margin-left: 5%;
    width: 6px;
    height: 6px;
    background: rgba(252, 252, 252, 0.8);
    box-shadow: 0 0 15px 10px rgba(252, 252, 252, 0.5);
    animation: fall 14s 11s infinite;
}

.b:nth-child(7) {
    margin-left: 6%;
    width: 6px;
    height: 6px;
    background: rgba(250, 250, 250, 0.8);
    box-shadow: 0 0 15px 10px rgba(250, 250, 250, 0.5);
    animation: fall 25s 6s infinite;
}

.b:nth-child(8) {
    margin-left: 7%;
    width: 3px;
    height: 3px;
    background: rgba(245, 245, 245, 0.8);
    box-shadow: 0 0 15px 10px rgba(245, 245, 245, 0.5);
    animation: fall 28s 5s infinite;
}

.b:nth-child(9) {
    margin-left: 8%;
    width: 2px;
    height: 2px;
    background: rgba(250, 250, 250, 0.8);
    box-shadow: 0 0 15px 10px rgba(250, 250, 250, 0.5);
    animation: fall 20s 4s infinite;
}

.b:nth-child(10) {
    margin-left: 9%;
    width: 10px;
    height: 10px;
    background: rgba(242, 242, 242, 0.8);
    box-shadow: 0 0 15px 10px rgba(242, 242, 242, 0.5);
    animation: fall 14s 6s infinite;
}

.b:nth-child(11) {
    margin-left: 10%;
    width: 8px;
    height: 8px;
    background: rgba(250, 250, 250, 0.8);
    box-shadow: 0 0 15px 10px rgba(250, 250, 250, 0.5);
    animation: fall 21s 4s infinite;
}

.b:nth-child(12) {
    margin-left: 11%;
    width: 7px;
    height: 7px;
    background: rgba(235, 235, 235, 0.8);
    box-shadow: 0 0 15px 10px rgba(235, 235, 235, 0.5);
    animation: fall 11s 5s infinite;
}

.b:nth-child(13) {
    margin-left: 12%;
    width: 10px;
    height: 10px;
    background: rgba(235, 235, 235, 0.8);
    box-shadow: 0 0 15px 10px rgba(235, 235, 235, 0.5);
    animation: fall 14s 11s infinite;
}

.b:nth-child(14) {
    margin-left: 13%;
    width: 8px;
    height: 8px;
    background: rgba(240, 240, 240, 0.8);
    box-shadow: 0 0 15px 10px rgba(240, 240, 240, 0.5);
    animation: fall 23s 3s infinite;
}

.b:nth-child(15) {
    margin-left: 14%;
    width: 7px;
    height: 7px;
    background: rgba(240, 240, 240, 0.8);
    box-shadow: 0 0 15px 10px rgba(240, 240, 240, 0.5);
    animation: fall 25s 8s infinite;
}

.b:nth-child(16) {
    margin-left: 15%;
    width: 2px;
    height: 2px;
    background: rgba(232, 232, 232, 0.8);
    box-shadow: 0 0 15px 10px rgba(232, 232, 232, 0.5);
    animation: fall 19s 8s infinite;
}

.b:nth-child(17) {
    margin-left: 16%;
    width: 11px;
    height: 11px;
    background: rgba(240, 240, 240, 0.8);
    box-shadow: 0 0 15px 10px rgba(240, 240, 240, 0.5);
    animation: fall 28s 9s infinite;
}

.b:nth-child(18) {
    margin-left: 17%;
    width: 5px;
    height: 5px;
    background: rgba(237, 237, 237, 0.8);
    box-shadow: 0 0 15px 10px rgba(237, 237, 237, 0.5);
    animation: fall 17s 4s infinite;
}

.b:nth-child(19) {
    margin-left: 18%;
    width: 8px;
    height: 8px;
    background: rgba(232, 232, 232, 0.8);
    box-shadow: 0 0 15px 10px rgba(232, 232, 232, 0.5);
    animation: fall 16s 11s infinite;
}

.b:nth-child(20) {
    margin-left: 19%;
    width: 11px;
    height: 11px;
    background: rgba(240, 240, 240, 0.8);
    box-shadow: 0 0 15px 10px rgba(240, 240, 240, 0.5);
    animation: fall 14s 6s infinite;
}

.b:nth-child(21) {
    margin-left: 20%;
    width: 3px;
    height: 3px;
    background: rgba(237, 237, 237, 0.8);
    box-shadow: 0 0 15px 10px rgba(237, 237, 237, 0.5);
    animation: fall 30s 11s infinite;
}

.b:nth-child(22) {
    margin-left: 21%;
    width: 7px;
    height: 7px;
    background: rgba(242, 242, 242, 0.8);
    box-shadow: 0 0 15px 10px rgba(242, 242, 242, 0.5);
    animation: fall 18s 8s infinite;
}

.b:nth-child(23) {
    margin-left: 22%;
    width: 9px;
    height: 9px;
    background: rgba(252, 252, 252, 0.8);
    box-shadow: 0 0 15px 10px rgba(252, 252, 252, 0.5);
    animation: fall 11s 5s infinite;
}

.b:nth-child(24) {
    margin-left: 23%;
    width: 10px;
    height: 10px;
    background: rgba(240, 240, 240, 0.8);
    box-shadow: 0 0 15px 10px rgba(240, 240, 240, 0.5);
    animation: fall 17s 8s infinite;
}

.b:nth-child(25) {
    margin-left: 24%;
    width: 4px;
    height: 4px;
    background: rgba(247, 247, 247, 0.8);
    box-shadow: 0 0 15px 10px rgba(247, 247, 247, 0.5);
    animation: fall 17s 9s infinite;
}

.b:nth-child(26) {
    margin-left: 25%;
    width: 11px;
    height: 11px;
    background: rgba(250, 250, 250, 0.8);
    box-shadow: 0 0 15px 10px rgba(250, 250, 250, 0.5);
    animation: fall 12s 2s infinite;
}

.b:nth-child(27) {
    margin-left: 26%;
    width: 11px;
    height: 11px;
    background: rgba(242, 242, 242, 0.8);
    box-shadow: 0 0 15px 10px rgba(242, 242, 242, 0.5);
    animation: fall 21s 2s infinite;
}

.b:nth-child(28) {
    margin-left: 27%;
    width: 4px;
    height: 4px;
    background: rgba(242, 242, 242, 0.8);
    box-shadow: 0 0 15px 10px rgba(242, 242, 242, 0.5);
    animation: fall 22s 5s infinite;
}

.b:nth-child(29) {
    margin-left: 28%;
    width: 4px;
    height: 4px;
    background: rgba(232, 232, 232, 0.8);
    box-shadow: 0 0 15px 10px rgba(232, 232, 232, 0.5);
    animation: fall 16s 3s infinite;
}

.b:nth-child(30) {
    margin-left: 29%;
    width: 6px;
    height: 6px;
    background: rgba(245, 245, 245, 0.8);
    box-shadow: 0 0 15px 10px rgba(245, 245, 245, 0.5);
    animation: fall 15s 6s infinite;
}

.b:nth-child(31) {
    margin-left: 30%;
    width: 10px;
    height: 10px;
    background: rgba(247, 247, 247, 0.8);
    box-shadow: 0 0 15px 10px rgba(247, 247, 247, 0.5);
    animation: fall 17s 3s infinite;
}

.b:nth-child(32) {
    margin-left: 31%;
    width: 11px;
    height: 11px;
    background: rgba(245, 245, 245, 0.8);
    box-shadow: 0 0 15px 10px rgba(245, 245, 245, 0.5);
    animation: fall 22s 4s infinite;
}

.b:nth-child(33) {
    margin-left: 32%;
    width: 11px;
    height: 11px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.5);
    animation: fall 18s 10s infinite;
}

.b:nth-child(34) {
    margin-left: 33%;
    width: 8px;
    height: 8px;
    background: rgba(232, 232, 232, 0.8);
    box-shadow: 0 0 15px 10px rgba(232, 232, 232, 0.5);
    animation: fall 18s 6s infinite;
}

.b:nth-child(35) {
    margin-left: 34%;
    width: 2px;
    height: 2px;
    background: rgba(242, 242, 242, 0.8);
    box-shadow: 0 0 15px 10px rgba(242, 242, 242, 0.5);
    animation: fall 16s 2s infinite;
}

.b:nth-child(36) {
    margin-left: 35%;
    width: 7px;
    height: 7px;
    background: rgba(242, 242, 242, 0.8);
    box-shadow: 0 0 15px 10px rgba(242, 242, 242, 0.5);
    animation: fall 18s 8s infinite;
}

.b:nth-child(37) {
    margin-left: 36%;
    width: 3px;
    height: 3px;
    background: rgba(252, 252, 252, 0.8);
    box-shadow: 0 0 15px 10px rgba(252, 252, 252, 0.5);
    animation: fall 29s 11s infinite;
}

.b:nth-child(38) {
    margin-left: 37%;
    width: 3px;
    height: 3px;
    background: rgba(247, 247, 247, 0.8);
    box-shadow: 0 0 15px 10px rgba(247, 247, 247, 0.5);
    animation: fall 30s 2s infinite;
}

.b:nth-child(39) {
    margin-left: 38%;
    width: 11px;
    height: 11px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.5);
    animation: fall 23s 9s infinite;
}

.b:nth-child(40) {
    margin-left: 39%;
    width: 6px;
    height: 6px;
    background: rgba(240, 240, 240, 0.8);
    box-shadow: 0 0 15px 10px rgba(240, 240, 240, 0.5);
    animation: fall 20s 10s infinite;
}

.b:nth-child(41) {
    margin-left: 40%;
    width: 6px;
    height: 6px;
    background: rgba(245, 245, 245, 0.8);
    box-shadow: 0 0 15px 10px rgba(245, 245, 245, 0.5);
    animation: fall 29s 7s infinite;
}

.b:nth-child(42) {
    margin-left: 41%;
    width: 11px;
    height: 11px;
    background: rgba(232, 232, 232, 0.8);
    box-shadow: 0 0 15px 10px rgba(232, 232, 232, 0.5);
    animation: fall 26s 9s infinite;
}

.b:nth-child(43) {
    margin-left: 42%;
    width: 5px;
    height: 5px;
    background: rgba(235, 235, 235, 0.8);
    box-shadow: 0 0 15px 10px rgba(235, 235, 235, 0.5);
    animation: fall 23s 8s infinite;
}

.b:nth-child(44) {
    margin-left: 43%;
    width: 4px;
    height: 4px;
    background: rgba(235, 235, 235, 0.8);
    box-shadow: 0 0 15px 10px rgba(235, 235, 235, 0.5);
    animation: fall 28s 6s infinite;
}

.b:nth-child(45) {
    margin-left: 44%;
    width: 5px;
    height: 5px;
    background: rgba(235, 235, 235, 0.8);
    box-shadow: 0 0 15px 10px rgba(235, 235, 235, 0.5);
    animation: fall 15s 10s infinite;
}

.b:nth-child(46) {
    margin-left: 45%;
    width: 7px;
    height: 7px;
    background: rgba(242, 242, 242, 0.8);
    box-shadow: 0 0 15px 10px rgba(242, 242, 242, 0.5);
    animation: fall 13s 8s infinite;
}

.b:nth-child(47) {
    margin-left: 46%;
    width: 2px;
    height: 2px;
    background: rgba(237, 237, 237, 0.8);
    box-shadow: 0 0 15px 10px rgba(237, 237, 237, 0.5);
    animation: fall 16s 5s infinite;
}

.b:nth-child(48) {
    margin-left: 47%;
    width: 6px;
    height: 6px;
    background: rgba(235, 235, 235, 0.8);
    box-shadow: 0 0 15px 10px rgba(235, 235, 235, 0.5);
    animation: fall 11s 7s infinite;
}

.b:nth-child(49) {
    margin-left: 48%;
    width: 4px;
    height: 4px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.5);
    animation: fall 18s 11s infinite;
}

.b:nth-child(50) {
    margin-left: 49%;
    width: 10px;
    height: 10px;
    background: rgba(252, 252, 252, 0.8);
    box-shadow: 0 0 15px 10px rgba(252, 252, 252, 0.5);
    animation: fall 28s 11s infinite;
}

.b:nth-child(51) {
    margin-left: 50%;
    width: 7px;
    height: 7px;
    background: rgba(235, 235, 235, 0.8);
    box-shadow: 0 0 15px 10px rgba(235, 235, 235, 0.5);
    animation: fall 25s 5s infinite;
}

.b:nth-child(52) {
    margin-left: 51%;
    width: 11px;
    height: 11px;
    background: rgba(232, 232, 232, 0.8);
    box-shadow: 0 0 15px 10px rgba(232, 232, 232, 0.5);
    animation: fall 17s 10s infinite;
}

.b:nth-child(53) {
    margin-left: 52%;
    width: 3px;
    height: 3px;
    background: rgba(240, 240, 240, 0.8);
    box-shadow: 0 0 15px 10px rgba(240, 240, 240, 0.5);
    animation: fall 24s 6s infinite;
}

.b:nth-child(54) {
    margin-left: 53%;
    width: 2px;
    height: 2px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.5);
    animation: fall 12s 4s infinite;
}

.b:nth-child(55) {
    margin-left: 54%;
    width: 9px;
    height: 9px;
    background: rgba(250, 250, 250, 0.8);
    box-shadow: 0 0 15px 10px rgba(250, 250, 250, 0.5);
    animation: fall 11s 6s infinite;
}

.b:nth-child(56) {
    margin-left: 55%;
    width: 10px;
    height: 10px;
    background: rgba(235, 235, 235, 0.8);
    box-shadow: 0 0 15px 10px rgba(235, 235, 235, 0.5);
    animation: fall 23s 4s infinite;
}

.b:nth-child(57) {
    margin-left: 56%;
    width: 3px;
    height: 3px;
    background: rgba(232, 232, 232, 0.8);
    box-shadow: 0 0 15px 10px rgba(232, 232, 232, 0.5);
    animation: fall 20s 5s infinite;
}

.b:nth-child(58) {
    margin-left: 57%;
    width: 8px;
    height: 8px;
    background: rgba(245, 245, 245, 0.8);
    box-shadow: 0 0 15px 10px rgba(245, 245, 245, 0.5);
    animation: fall 28s 11s infinite;
}

.b:nth-child(59) {
    margin-left: 58%;
    width: 4px;
    height: 4px;
    background: rgba(237, 237, 237, 0.8);
    box-shadow: 0 0 15px 10px rgba(237, 237, 237, 0.5);
    animation: fall 24s 2s infinite;
}

.b:nth-child(60) {
    margin-left: 59%;
    width: 8px;
    height: 8px;
    background: rgba(242, 242, 242, 0.8);
    box-shadow: 0 0 15px 10px rgba(242, 242, 242, 0.5);
    animation: fall 13s 3s infinite;
}

.b:nth-child(61) {
    margin-left: 60%;
    width: 11px;
    height: 11px;
    background: rgba(252, 252, 252, 0.8);
    box-shadow: 0 0 15px 10px rgba(252, 252, 252, 0.5);
    animation: fall 23s 5s infinite;
}

.b:nth-child(62) {
    margin-left: 61%;
    width: 5px;
    height: 5px;
    background: rgba(247, 247, 247, 0.8);
    box-shadow: 0 0 15px 10px rgba(247, 247, 247, 0.5);
    animation: fall 12s 6s infinite;
}

.b:nth-child(63) {
    margin-left: 62%;
    width: 4px;
    height: 4px;
    background: rgba(250, 250, 250, 0.8);
    box-shadow: 0 0 15px 10px rgba(250, 250, 250, 0.5);
    animation: fall 26s 3s infinite;
}

.b:nth-child(64) {
    margin-left: 63%;
    width: 2px;
    height: 2px;
    background: rgba(237, 237, 237, 0.8);
    box-shadow: 0 0 15px 10px rgba(237, 237, 237, 0.5);
    animation: fall 22s 2s infinite;
}

.b:nth-child(65) {
    margin-left: 64%;
    width: 5px;
    height: 5px;
    background: rgba(235, 235, 235, 0.8);
    box-shadow: 0 0 15px 10px rgba(235, 235, 235, 0.5);
    animation: fall 27s 8s infinite;
}

.b:nth-child(66) {
    margin-left: 65%;
    width: 6px;
    height: 6px;
    background: rgba(237, 237, 237, 0.8);
    box-shadow: 0 0 15px 10px rgba(237, 237, 237, 0.5);
    animation: fall 23s 2s infinite;
}

.b:nth-child(67) {
    margin-left: 66%;
    width: 6px;
    height: 6px;
    background: rgba(242, 242, 242, 0.8);
    box-shadow: 0 0 15px 10px rgba(242, 242, 242, 0.5);
    animation: fall 22s 9s infinite;
}

.b:nth-child(68) {
    margin-left: 67%;
    width: 7px;
    height: 7px;
    background: rgba(247, 247, 247, 0.8);
    box-shadow: 0 0 15px 10px rgba(247, 247, 247, 0.5);
    animation: fall 30s 9s infinite;
}

.b:nth-child(69) {
    margin-left: 68%;
    width: 4px;
    height: 4px;
    background: rgba(240, 240, 240, 0.8);
    box-shadow: 0 0 15px 10px rgba(240, 240, 240, 0.5);
    animation: fall 12s 9s infinite;
}

.b:nth-child(70) {
    margin-left: 69%;
    width: 8px;
    height: 8px;
    background: rgba(242, 242, 242, 0.8);
    box-shadow: 0 0 15px 10px rgba(242, 242, 242, 0.5);
    animation: fall 20s 11s infinite;
}

.b:nth-child(71) {
    margin-left: 70%;
    width: 2px;
    height: 2px;
    background: rgba(237, 237, 237, 0.8);
    box-shadow: 0 0 15px 10px rgba(237, 237, 237, 0.5);
    animation: fall 28s 11s infinite;
}

.b:nth-child(72) {
    margin-left: 71%;
    width: 6px;
    height: 6px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.5);
    animation: fall 22s 8s infinite;
}

.b:nth-child(73) {
    margin-left: 72%;
    width: 5px;
    height: 5px;
    background: rgba(237, 237, 237, 0.8);
    box-shadow: 0 0 15px 10px rgba(237, 237, 237, 0.5);
    animation: fall 15s 4s infinite;
}

.b:nth-child(74) {
    margin-left: 73%;
    width: 10px;
    height: 10px;
    background: rgba(235, 235, 235, 0.8);
    box-shadow: 0 0 15px 10px rgba(235, 235, 235, 0.5);
    animation: fall 20s 2s infinite;
}

.b:nth-child(75) {
    margin-left: 74%;
    width: 2px;
    height: 2px;
    background: rgba(242, 242, 242, 0.8);
    box-shadow: 0 0 15px 10px rgba(242, 242, 242, 0.5);
    animation: fall 18s 4s infinite;
}

.b:nth-child(76) {
    margin-left: 75%;
    width: 11px;
    height: 11px;
    background: rgba(232, 232, 232, 0.8);
    box-shadow: 0 0 15px 10px rgba(232, 232, 232, 0.5);
    animation: fall 12s 2s infinite;
}

.b:nth-child(77) {
    margin-left: 76%;
    width: 6px;
    height: 6px;
    background: rgba(252, 252, 252, 0.8);
    box-shadow: 0 0 15px 10px rgba(252, 252, 252, 0.5);
    animation: fall 17s 8s infinite;
}

.b:nth-child(78) {
    margin-left: 77%;
    width: 10px;
    height: 10px;
    background: rgba(232, 232, 232, 0.8);
    box-shadow: 0 0 15px 10px rgba(232, 232, 232, 0.5);
    animation: fall 19s 4s infinite;
}

.b:nth-child(79) {
    margin-left: 78%;
    width: 8px;
    height: 8px;
    background: rgba(250, 250, 250, 0.8);
    box-shadow: 0 0 15px 10px rgba(250, 250, 250, 0.5);
    animation: fall 25s 2s infinite;
}

.b:nth-child(80) {
    margin-left: 79%;
    width: 6px;
    height: 6px;
    background: rgba(247, 247, 247, 0.8);
    box-shadow: 0 0 15px 10px rgba(247, 247, 247, 0.5);
    animation: fall 22s 10s infinite;
}

.b:nth-child(81) {
    margin-left: 80%;
    width: 9px;
    height: 9px;
    background: rgba(237, 237, 237, 0.8);
    box-shadow: 0 0 15px 10px rgba(237, 237, 237, 0.5);
    animation: fall 14s 9s infinite;
}

.b:nth-child(82) {
    margin-left: 81%;
    width: 10px;
    height: 10px;
    background: rgba(247, 247, 247, 0.8);
    box-shadow: 0 0 15px 10px rgba(247, 247, 247, 0.5);
    animation: fall 29s 3s infinite;
}

.b:nth-child(83) {
    margin-left: 82%;
    width: 4px;
    height: 4px;
    background: rgba(235, 235, 235, 0.8);
    box-shadow: 0 0 15px 10px rgba(235, 235, 235, 0.5);
    animation: fall 15s 8s infinite;
}

.b:nth-child(84) {
    margin-left: 83%;
    width: 9px;
    height: 9px;
    background: rgba(240, 240, 240, 0.8);
    box-shadow: 0 0 15px 10px rgba(240, 240, 240, 0.5);
    animation: fall 14s 10s infinite;
}

.b:nth-child(85) {
    margin-left: 84%;
    width: 2px;
    height: 2px;
    background: rgba(247, 247, 247, 0.8);
    box-shadow: 0 0 15px 10px rgba(247, 247, 247, 0.5);
    animation: fall 13s 2s infinite;
}

.b:nth-child(86) {
    margin-left: 85%;
    width: 2px;
    height: 2px;
    background: rgba(232, 232, 232, 0.8);
    box-shadow: 0 0 15px 10px rgba(232, 232, 232, 0.5);
    animation: fall 23s 8s infinite;
}

.b:nth-child(87) {
    margin-left: 86%;
    width: 10px;
    height: 10px;
    background: rgba(247, 247, 247, 0.8);
    box-shadow: 0 0 15px 10px rgba(247, 247, 247, 0.5);
    animation: fall 19s 7s infinite;
}

.b:nth-child(88) {
    margin-left: 87%;
    width: 8px;
    height: 8px;
    background: rgba(247, 247, 247, 0.8);
    box-shadow: 0 0 15px 10px rgba(247, 247, 247, 0.5);
    animation: fall 18s 11s infinite;
}

.b:nth-child(89) {
    margin-left: 88%;
    width: 2px;
    height: 2px;
    background: rgba(247, 247, 247, 0.8);
    box-shadow: 0 0 15px 10px rgba(247, 247, 247, 0.5);
    animation: fall 19s 6s infinite;
}

.b:nth-child(90) {
    margin-left: 89%;
    width: 11px;
    height: 11px;
    background: rgba(242, 242, 242, 0.8);
    box-shadow: 0 0 15px 10px rgba(242, 242, 242, 0.5);
    animation: fall 20s 4s infinite;
}

.b:nth-child(91) {
    margin-left: 90%;
    width: 5px;
    height: 5px;
    background: rgba(232, 232, 232, 0.8);
    box-shadow: 0 0 15px 10px rgba(232, 232, 232, 0.5);
    animation: fall 24s 3s infinite;
}

.b:nth-child(92) {
    margin-left: 91%;
    width: 8px;
    height: 8px;
    background: rgba(242, 242, 242, 0.8);
    box-shadow: 0 0 15px 10px rgba(242, 242, 242, 0.5);
    animation: fall 18s 10s infinite;
}

.b:nth-child(93) {
    margin-left: 92%;
    width: 3px;
    height: 3px;
    background: rgba(247, 247, 247, 0.8);
    box-shadow: 0 0 15px 10px rgba(247, 247, 247, 0.5);
    animation: fall 30s 9s infinite;
}

.b:nth-child(94) {
    margin-left: 93%;
    width: 6px;
    height: 6px;
    background: rgba(232, 232, 232, 0.8);
    box-shadow: 0 0 15px 10px rgba(232, 232, 232, 0.5);
    animation: fall 14s 7s infinite;
}

.b:nth-child(95) {
    margin-left: 94%;
    width: 10px;
    height: 10px;
    background: rgba(240, 240, 240, 0.8);
    box-shadow: 0 0 15px 10px rgba(240, 240, 240, 0.5);
    animation: fall 16s 8s infinite;
}

.b:nth-child(96) {
    margin-left: 95%;
    width: 3px;
    height: 3px;
    background: rgba(245, 245, 245, 0.8);
    box-shadow: 0 0 15px 10px rgba(245, 245, 245, 0.5);
    animation: fall 16s 8s infinite;
}

.b:nth-child(97) {
    margin-left: 96%;
    width: 10px;
    height: 10px;
    background: rgba(250, 250, 250, 0.8);
    box-shadow: 0 0 15px 10px rgba(250, 250, 250, 0.5);
    animation: fall 15s 10s infinite;
}

.b:nth-child(98) {
    margin-left: 97%;
    width: 7px;
    height: 7px;
    background: rgba(245, 245, 245, 0.8);
    box-shadow: 0 0 15px 10px rgba(245, 245, 245, 0.5);
    animation: fall 22s 7s infinite;
}

.b:nth-child(99) {
    margin-left: 98%;
    width: 2px;
    height: 2px;
    background: rgba(235, 235, 235, 0.8);
    box-shadow: 0 0 15px 10px rgba(235, 235, 235, 0.5);
    animation: fall 16s 7s infinite;
}

.b:nth-child(100) {
    margin-left: 99%;
    width: 6px;
    height: 6px;
    background: rgba(247, 247, 247, 0.8);
    box-shadow: 0 0 15px 10px rgba(247, 247, 247, 0.5);
    animation: fall 18s 5s infinite;
}

@keyframes fall {
    0% {
        transform: scale(0);
    }

    2% {
        transform: scale(1);
        top: -50px;
    }

    100% {
        transform: scale(0);
        top: 100%;
    }
}

/* header */

.navbar {
    padding: 1% 4% 0% 11%;
    /*margin: 20px 15px;*/
}

.navbar-brand {
    /*padding-left: 10%;*/
    width: 150px;
    /*margin-left: 50%;*/
    height: 100px;
}

.logo_size {
    width: 150px;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
    text-align: right;
}

.navbar-nav li {
    border-radius: 14px;
    font-size: 19px;
    margin-right: 1rem;
    color: #080707;
}

.navbar-nav li:hover {
    background-color: #D9E6ED;
    opacity: 0.7;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.25);
    color: #080707;
    transition: .5s ease-in;
}

/* .navbar-nav li:last-child {
    margin-right: 0;
} */

/* .t-align {
    text-align: right;
} */

.navbar-light .navbar-nav .nav-link {
    color: #080707;
}

/* weekly sidebar */

.main-sidebar {
    margin-top: 1.3%;
    text-align: center;
    padding: 0 4%;
}

.weekly_tags {
    color: #1C2123;
    font-weight: bold;
}

.weekly_tags div {
    background: #E7F1F5;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
    font-size: 1.1rem;
    padding: 4px 0;
}

.weekly_tags ul {
    padding: 0 25px
}

.weekly_tags ul li {
    text-align: center;
    border-radius: 26px;
    margin-top: 6px;
    padding: 2px 0;
    font-size: 1rem;
}

.weekly_tags ul li:hover {
    background: rgba(255, 255, 255, 0.712);
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.25);
    transition: .2s ease-in-out;
}

/*  */

/* main content */

.whats-today {
    background-color: #AACBDB;
    height: 50px;
    opacity: 0.5;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 1.3%;
    width: 80%;
    margin: auto;
}
.cloud-put {
    vertical-align: middle;
}

.whats-today:hover,
.today-news:hover {
    box-shadow: 4px 4px 10px 2px rgb(0 191 255 / 25%);
    transition: .4s ease-in;
}

.cloud-svg {
    background-color: #EEEEEE;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    margin-right: 19px;
}

.cloud-svg svg {
    margin: auto;
}

.today-whats {
    background-color: #EEEEEE;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 16px;
    justify-content: space-between;
    padding: 0 10px;
    /*line-height: 33px;*/
}

.today-news {
    background-color: #F8F8FF;
    opacity: 0.5;
    box-shadow: 0px 0px 8px 1px rgb(0 0 0 / 30%);
    border-radius: 27px;
    padding: 1% 5%;
    display: grid;
    grid-template-columns: 1.3fr 7fr;
    margin: 3% 8% 3% 8%;
    /*height: 30%;*/
}

.today-profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}

.user-profile,
.user-profile img {
    width: 50px;
    height: 50px;
    box-shadow: inset 4px 5px 6px  rgb(0 0 0 / 25%);
    border-radius: 50%;
}

.news-cloud {
    background-color: #EEEEEE;
    border-radius: 27px;
    box-shadow: inset 1px 1px 2px rgb(0 0 0 / 25%);
    padding: 15px 23px;
    margin: 2% 0% 0% 3%;
    height: 60px;
}

.news-cloud div {
    font-family: 'Binggrae';
}

.today-tags ul {
    display: flex;
    padding: 0;
    margin: 2% 0 0 5%;
}

.today-tags ul li {
    font-size: small;
    padding: 5px;
    background-color: #C5D3DB;
    border-radius: 27px;
    margin-right: 12px;
}

/* 유저 인포 포스트*/

.user-post-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12%;
}

.post-like {
    display: flex;
}

.heart-icon {
    border: none;
    background: none;
}

.heart-icon svg {
    width: 33px;
    height: auto;
}

.heart-icon svg:active {
    transform: scale(1.1);
}

.like-number {
    width: 36px;
    border: none;
    background: none;
    pointer-events: none;
}

.user-nick {
    font-size: 0.9rem;
    color: #1d1b1b;
    font-weight: 500;
    margin-top: 4px;
}


/* .ss.today-news{
    overflow-y: scroll;
} */

/* .s-box {
    table-layout: fixed;
    overflow: auto;
    border-collapse: collapse;
    border-spacing: 0;
} */

.post-scroll {
    /* 테이블에 들어간 클래스 */
    display: block;
    height: 740px;
    overflow: auto;
    margin: 4px 0px 0px 15px;
}

.post-scroll::-webkit-scrollbar {
    background: transparent;
}

/* 반응형 */

@media (max-width: 559px) {
    .today-news {
        display: flex;
        flex-direction: column;
    }
    .whats-today {
        margin-left: 7px;
        margin-right: 7px;
        width: 82%;
        margin: auto;
    }
}

@media (max-width: 1000px) {
    .navbar {
        padding: 1% 8% 0% 9%;
    }
    .main-sidebar {
        display: none;
    }

    .main-contents {
        width: 100%;
    }
    .whats-today {
        margin-left: 7px;
        margin-right: 7px;
        width: 82%;
        margin: auto;
    }

}

@media (min-width: 1750px) {
    body {
        padding: 0 13%;
    }
}

@media (min-width: 1700px) {
    body {
        padding: 0 20%;
    }
}