@charset "utf-8";

@font-face {
    font-family: 'Binggrae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* header */

.container-fluid {
    padding: 0;
    margin-top: 25px;
}

.todaycloud-logo img {
    width: 100px;
    height: auto;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav li {
    border-radius: 14px;
    font-size: 19px;
    margin-right: 1rem;
    color: #080707;
}

.navbar-nav li:hover {
    background-color: #D9E6ED;
    opacity: 0.7;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.25);
    color: #080707;
    transition: .5s ease-in;
}

.navbar-nav li:last-child {
    margin-right: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #080707;
}

/* weekly sidebar */

.weekly_tags {
    margin-top: 78px;
    color: #1C2123;
    font-weight: bold;
}

.weekly_tags div {
    width: 151px;
    height: 56px;
    background: #E7F1F5;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.weekly_tags ul li {
    border-radius: 17px;
    width: 107px;
    height: 45px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 19.86px;
}

.weekly_tags ul li:hover {
    background: rgba(255, 255, 255, 0.712);
    box-shadow: 7px 5px 2px rgba(0, 0, 0, 0.25);
    transition: .5s ease-in-out;
}

/*  */

/* main content */

.whats-today {
    background-color: #AACBDB;
    height: 79px;
    opacity: 0.5;
    border-radius: 27px;
    display: flex;
    align-items: center;
    padding: 18px;
}

.cloud-svg {
    background-color: #EEEEEE;
    width: 53px;
    height: 53px;
    padding: 6px;
    border-radius: 50%;
    display: flex;
    margin-right: 19px;
}

.cloud-svg svg {
    margin: auto;
}

.today-whats {
    background-color: #EEEEEE;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 16px;
    justify-content: space-between;
    padding: 0 10px;
    line-height: 42px;
}

.today-news {
    background-color: #E3E3E3;
    opacity: 0.5;
    box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    padding: 50px 50px;
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-columns: 1.3fr 7fr;
    margin-top: 68px;
}

.today-profile {
    width: 90px;
    height: 90px;
    box-shadow: inset 4px 5px 6px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
}

.news-cloud {
    background-color: #EEEEEE;
    border-radius: 27px;
    box-shadow: inset 2px 3px 5px rgba(0, 0, 0, 0.25);
    padding: 19px 29px;
}

.news-cloud div {
    font-family: 'Binggrae';
}

.today-tags ul li {
    padding: 10px;
    background-color: #C5D3DB;
    border-radius: 27px;
}

.ss.today-news{
    overflow-y: scroll;
}