@charset "uft-8";

body {
    padding: 15%;
    margin: 10px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 58%;
    }
}

@media (max-width: 893px) {
    .modal-dialog {
        max-width: 500px;
    }
}

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}

.panel-white {
    border: 1px solid #dddddd;
}

.panel-white .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}

.panel-white .panel-footer {
    background-color: #fff;
    border-color: #ddd;
}

.post .post-heading {
    /* display: grid;
    grid-template-columns: 100px 2fr 1fr;
    height: 120px; */
    padding: 3%;
}

.avatar {
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 20px;
}

.post .post-heading .meta .title {
    margin-bottom: 0;
}

.post .post-heading .meta .title a {
    color: black;
}

.post .post-heading .meta .title a:hover {
    color: #aaaaaa;
}


.post .post-image .image {
    width: 50px;
    height: auto;
}

.post .post-description {
    padding: 15px;
}

.post .post-description p {
    font-size: 14px;
}

.post .post-description .stats {
    margin-top: 20px;
}

.post-footer {
    border-top: 2px dashed rgb(10, 35, 116);
    padding: 15px;
}

.post .post-footer .comments-list {
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
}

.post .post-footer .comments-list .comment {
    display: block;
    width: 100%;
    margin: 20px 0;
}

.post .post-footer .comments-list .comment .avatar {
    width: 35px;
    height: 35px;
}

.post .post-footer .comments-list .comment .comment-heading {
    display: block;
    width: 100%;
}

.post .post-footer .comments-list .comment .comment-heading .user {
    font-size: 14px;
    font-weight: bold;
    display: inline;
    margin-top: 0;
    margin-right: 10px;
}

.post-time {
    font-size: 12px;
    color: #aaa;
    margin-top: 0;
    display: inline;
}

.post-location {
    font-size: 12px;
    color: rgb(176, 188, 255);
    margin-top: -5px;
    display: inline;
}

.post .post-footer .comments-list .comment .comment-body {
    margin-left: 50px;
}

.post .post-footer .comments-list .comment>.comments-list {
    margin-left: 50px;
}

.comment {
    border-bottom: 1px solid #ddd;
    margin-top: 16px;
}


/* 여기는 오늘의 소개 부분 */
.today_info_all {
    background: #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px;
    border-radius: 27px;
}

.modal-content {
    border-radius: 15px;
    border: 0 !important;
    background: linear-gradient(180deg, #D9E5EE 0%, #EBEDF2 46.88%, #EBEFF2 100%);

}

.form-control {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

#content {
    margin-top: 3%;
}

.btn-today-c {
    color: rgba(0, 0, 0, 0.276);
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
}

.btn-today-in {
    color: rgba(0, 0, 0, 0.276);
    border-radius: 20px;
    border-color: rgb(24, 42, 244);
}

.file-up {
    margin: 10px 0px 3px 1%;
}

.post_board {
    vertical-align: middle;
    text-align: left;
}

.detail_img {
    margin: auto;
}

.c-like-number {
    font-size: 8px;
}

.detail_title {
    text-align: left;
    vertical-align: middle;
}

.detail_like {
    text-align: center;
}


.title_size {
    margin-bottom: 2%;
}

.post-comment {
    border-top: 1px solid #ddd;
    padding: 15px;
}

.btn-today-file {
    border-radius: 50px;
}

.me-auto {
    width: 285px;
    margin: auto;
}


/* 테스트 확인 */
/* 테스트 확인 */
/* 테스트 확인 */
/* 테스트 확인 */
/* 테스트 확인 */
/* 테스트 확인 */
/* 테스트 확인 */

.where {
    display: block;
    margin: 25px 15px;
    font-size: 11px;
    color: #000;
    text-decoration: none;
    font-family: verdana;
    font-style: italic;
}

.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.filebox label {
    display: inline-block;
    padding: .5em .75em;
    color: #999;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
}

/* named upload */
.filebox .upload-name {
    display: inline-block;
    padding: .5em .75em;
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    -webkit-appearance: none;
    /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
}

/* imaged preview */
.filebox .upload-display {
    margin-bottom: 5px;
}

@media(min-width: 768px) {
    .filebox .upload-display {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 0;
    }
}

.filebox .upload-thumb-wrap {
    display: inline-block;
    width: 120px;
    padding: 2px;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.filebox .upload-display img {
    display: block;
    max-width: 100%;
    width: 100% \9;
    height: auto;
}

.filebox.bs3-primary label {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

/* 게시글확인 */

.whats-today {
    background-color: #AACBDB;
    height: 50px;
    opacity: 0.5;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 1.3%;
    width: 80%;
    margin: auto;
}

.cloud-put {
    vertical-align: middle;
}

.cloud-svg {
    background-color: #EEEEEE;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    margin-right: 19px;
}

.cloud-svg svg {
    margin: auto;
}

.today-whats {
    background-color: #EEEEEE;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 16px;
    justify-content: space-between;
    padding: 0 10px;
    /*line-height: 33px;*/
}

.today-news {
    background-color: #F8F8FF;
    box-shadow: 0px 0px 8px 1px rgb(0 0 0 / 30%);
    border-radius: 27px;
    padding: 18px;
    display: grid;
    grid-template-columns: 1.3fr 7fr;
}

.today-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

}

.user-profile,
.user-profile img {
    width: 50px;
    height: 50px;
    box-shadow: inset 4px 5px 6px rgb(0 0 0 / 25%);
    border-radius: 50%;
}

.news-cloud {
    background-color: #EEEEEE;
    border-radius: 27px;
    box-shadow: inset 1px 1px 2px rgb(0 0 0 / 25%);
    padding: 15px 23px;
}

.news-cloud p {
    margin: 0;
}

.today-tags ul {
    display: flex;
    padding: 0;
}

.today-tags ul li {
    font-size: 0.7459rem;
    padding: 5px;
    background-color: #C5D3DB;
    border-radius: 27px;
    margin-right: 12px;
}

/* 유저 인포 포스트*/

.user-post-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12%;
}

.post-like {
    display: flex;
    justify-content: end;
}

.heart-icon {
    border: none;
    background: none;
}

.heart-icon svg {
    width: 33px;
    height: auto;
}

.heart-icon svg:active {
    transform: scale(1.1);
}

.like-number {
    width: 36px;
    border: none;
    background: none;
    pointer-events: none;
}

.user-nick {
    font-size: 0.9rem;
    color: #1d1b1b;
    font-weight: 500;
    margin-top: 4px;
}

.today-cloud-contents h3 {
    font-size: 0.987rem;
    margin-bottom: 0.89rem;
}

.pull-left {
    margin-right: 1.795rem;
}