@charset "uft-8";

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}

.panel-white {
    border: 1px solid #dddddd;
}

.panel-white .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}

.panel-white .panel-footer {
    background-color: #fff;
    border-color: #ddd;
}

.post .post-heading {
    display: grid;
    grid-template-columns: 100px 2fr 1fr;
    height: 120px;
    padding: 3%;
}

.avatar {
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 20px;
}

.post .post-heading .meta .title {
    margin-bottom: 0;
}

.post .post-heading .meta .title a {
    color: black;
}

.post .post-heading .meta .title a:hover {
    color: #aaaaaa;
}


.post .post-image .image {
    width: 50px;
    height: auto;
}

.post .post-description {
    padding: 15px;
}

.post .post-description p {
    font-size: 14px;
}

.post .post-description .stats {
    margin-top: 20px;
}

.post .post-footer {
    border-top: 1px solid #ddd;
    padding: 15px;
}

.post .post-footer .comments-list {
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
}

.post .post-footer .comments-list .comment {
    display: block;
    width: 100%;
    margin: 20px 0;
}

.post .post-footer .comments-list .comment .avatar {
    width: 35px;
    height: 35px;
}

.post .post-footer .comments-list .comment .comment-heading {
    display: block;
    width: 100%;
}

.post .post-footer .comments-list .comment .comment-heading .user {
    font-size: 14px;
    font-weight: bold;
    display: inline;
    margin-top: 0;
    margin-right: 10px;
}

.time1 {
    font-size: 12px;
    color: #aaa;
    margin-top: 0;
    display: inline;
}

.time2 {
    font-size: 12px;
    color: rgb(176, 188, 255);
    margin-top: -5px;
    display: inline;
}

.post .post-footer .comments-list .comment .comment-body {
    margin-left: 50px;
}

.post .post-footer .comments-list .comment>.comments-list {
    margin-left: 50px;
}

body {
    padding: 15%;
}

/* 여기는 오늘의 소개 부분 */
.today_info_all {
    background: #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px;
    border-radius: 27px;
}

.modal-content {
    border-radius: 15px;
    border: 0 !important;
}

.form-control {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

#content {
    margin-top: 3%;
}

.btn-today-c {
    color:rgba(0, 0, 0, 0.276);
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
}

.btn-today-in {
    color:rgba(0, 0, 0, 0.276);
    border-radius: 20px;
    border-color: rgb(24, 42, 244);
}

.file-up {
    margin: 10px 0px 3px 1%;
}

.post_board {
    vertical-align: middle;
    text-align: left;
}

.stat-item{

}

.detail_img {
    margin: auto;
}

.c-like-number {
    font-size: 8px;
}

.detail_title {
    text-align: left;
    vertical-align: middle;
}

.detail_like {
    text-align: center;
}


.title_size {
    margin-bottom: 2%;
}

.post-comment {
    border-top: 1px solid #ddd;
    padding: 15px;
}

.post-comment {
    border-top: 1px solid #ddd;
    padding: 15px;
}

.btn-today-file {
    border-radius: 50px;
}

.me-auto {
    width: 285px;
    margin: auto;
}


/* 테스트 확인 */
/* 테스트 확인 */
/* 테스트 확인 */
/* 테스트 확인 */
/* 테스트 확인 */
/* 테스트 확인 */
/* 테스트 확인 */



body {margin: 10px;}
.where {
    display: block;
    margin: 25px 15px;
    font-size: 11px;
    color: #000;
    text-decoration: none;
    font-family: verdana;
    font-style: italic;
} 

.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}

.filebox label {
    display: inline-block;
    padding: .5em .75em;
    color: #999;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
}

/* named upload */
.filebox .upload-name {
    display: inline-block;
    padding: .5em .75em;
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
}

/* imaged preview */
.filebox .upload-display {
    margin-bottom: 5px;
}

@media(min-width: 768px) {
    .filebox .upload-display {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 0;
}   
}

.filebox .upload-thumb-wrap {
    display: inline-block;
    width: 120px;
    padding: 2px;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.filebox .upload-display img {
    display: block;
    max-width: 100%;
    width: 100% \9;
    height: auto;
}

.filebox.bs3-primary label {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}