@charset "uft-8";

.user-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: olivedrab;
}

#image_container img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}