@charset "utf-8";

.sign_input {
    background: #E3E3E3;
    opacity: 0.5;
    box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    padding: 35px 90px 0;
    width: 80%;
    margin: auto;
}

.sign_input input {
    margin-bottom: 10px;
    height: 63px;
    background: #EEEEEE;
    border-radius: 27px;
    box-shadow: inset 2px 3px 5px rgba(0, 0, 0, 0.25);
}

.all_button {
    display: flex;
    justify-content: center;
    margin: 40px auto;
}

.all_button button {
    font-size: 19px;
    border: none;
    background: #D9E6ED;
    opacity: 0.7;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    padding: 7.4px 14px;
}

.all_button button:nth-child(1) {
    margin-right: 10px;
}

.cloud_img svg{
    width: 37%;
    height: auto;
    display: block;
    margin: 0 auto 23px;
}