@charset "utf-8";

/* ###################################### */
/* signup 라인 */
/* ###################################### */
.signup_input_all {
    background: #E3E3E3;
    opacity: 0.5;
    box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    padding: 4% 3%;
    width: 40%;
    margin: auto;
}

.signup_input_all input {
    font-size: 15px;
    margin-bottom: 10px;
    height: 50px;
    background: #EEEEEE;
    border-radius: 27px;
    box-shadow: inset 2px 3px 5px rgba(0, 0, 0, 0.25);
}

.signup_insert_input {
    margin-bottom: 2%;
}

.signup_all_button {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 10px auto;
}

.signup_all_button button {
    font-size: 19px;
    border: none;
    background: #D9E6ED;
    opacity: 0.7;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    padding: 7.4px 15px;
}

.signup_all_button button:nth-child(1) {
    margin-bottom: 10px;
}

.signup_cloud_img svg {
    width: 60%;
    height: auto;
    display: block;
    margin: 0 auto 23px;
}

/* iPad 가로+세로 */
@media only screen and (min-device-width : 768px) and (max-device-width : 1100px) {
    .signup_all_button {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 10px auto;
    }
    .signup_input_all {
        background: #E3E3E3;
        opacity: 0.5;
        box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.25);
        border-radius: 27px;
        padding: 4% 3%;
        width: 70%;
    }
    .signup_cloud_img svg {
        width: 50%;
        height: auto;
        display: block;
        margin: 0 auto 23px;
    }
}

/* 스마트폰 가로+세로 */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px){
    .signup_all_button {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 10px auto;
    }
    .signup_input_all {
        background: #E3E3E3;
        opacity: 0.5;
        box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.25);
        border-radius: 27px;
        padding: 4% 3%;
        width: 80%;
    }
    .signup_cloud_img svg {
        width: 50%;
        height: auto;
        display: block;
        margin: 0 auto 23px;
    }
}



/* ###################################### */
/* login 라인 */
/* ###################################### */
.login_input_all {
    background: #E3E3E3;
    opacity: 0.5;
    box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    padding: 4% 3%;
    width: 40%;
    margin: auto;
}

.login_input_all input {
    font-size: 15px;
    margin-bottom: 10px;
    height: 50px;
    background: #EEEEEE;
    border-radius: 27px;
    box-shadow: inset 2px 3px 5px rgba(0, 0, 0, 0.25);
}

.login_insert_input {
    margin-bottom: 2%;
}

.login_all_button {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 10px auto;
}

.login_all_button button {
    font-size: 19px;
    border: none;
    background: #D9E6ED;
    opacity: 0.7;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    padding: 7.4px 15px;
}

.login_all_button button:nth-child(1) {
    margin-bottom: 10px;
}

.login_cloud_img svg {
    width: 60%;
    height: auto;
    display: block;
    margin: 0 auto 23px;
}

/* iPad 가로+세로 */
@media only screen and (min-device-width : 768px) and (max-device-width : 1100px) {
    .login_all_button {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 10px auto;
    }
    .login_input_all {
        background: #E3E3E3;
        opacity: 0.5;
        box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.25);
        border-radius: 27px;
        padding: 4% 3%;
        width: 70%;
    }
    .login_cloud_img svg {
        width: 50%;
        height: auto;
        display: block;
        margin: 0 auto 23px;
    }
}

/* 스마트폰 가로+세로 */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px){
    .login_all_button {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 10px auto;
    }
    .login_input_all {
        background: #E3E3E3;
        opacity: 0.5;
        box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.25);
        border-radius: 27px;
        padding: 4% 3%;
        width: 80%;
    }
    .login_cloud_img svg {
        width: 50%;
        height: auto;
        display: block;
        margin: 0 auto 23px;
    }
}